

.input h2{
    font-size: 18rem;
    font-weight: 400;
    opacity: .7;
    margin: none;
    text-shadow: 0 0 5rem rgba($color: #000000, $alpha: 1.0);
    
}
.input {
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}